.lemmon-wrap, .lemmon-wrap .prev-page, .lemmon-wrap .next-page, .lemmon-slider li div {
    transition: all 0.6s ease 0s;
}
.lemmon-wrap {
    clear: both;
    margin: -40px 0 0;
    padding: 0;
    position: relative;
}
.lemmon-slider {
    left: -1px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.no-js .lemmon-slider {
    overflow: hidden;
    width: 100000px;
}
.lemmon-slider, .lemmon-slider li, .lemmon-slider img {
    transition: all 0.6s ease 0s;
}
.lemmon-slider ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
.lemmon-slider li {
    float: left;
    list-style: none outside none;
    margin: 0 1px;
    position: relative;
}
.no-js .lemmon-slider li {
    display: block;
    float: left;
    text-align: center;
}
.no-js .lemmon-slider ul {
    margin: 0 auto;
}
.lemmon-slider li div.summary {
    background: url("../images/80p.png") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    left: 0;
    opacity: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -500px;
    z-index: 100;
}
.lemmon-slider li div.summary * {
    color: #FFFFFF;
}
.lemmon-slider li:hover div.summary {
    display: block;
    left: 0;
    opacity: 1;
    right: 0;
    top: 0;
}
.no-js .lemmon-slider li div.summary, .no-js .lemmon-slider li:hover div.summary {
    display: none;
}
.lemmon-slider li div.summary a {
    text-decoration: none;
}
.lemmon-slider li div.summary p {
    font-size: 14px;
    padding: 0 15%;
    position: relative;
}
.lemmon-wrap .controls {
    margin-top: 10px;
    text-align: center;
}
.lemmon-wrap .prev-page, .lemmon-wrap .next-page {
    background: none repeat scroll 0 0 #333333;
    border-radius: 50px 50px 50px 50px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 24px;
    margin: 0 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 25px;
    z-index: 200;
}
.lemmon-wrap .next-page i {
    left: 1px;
    position: relative;
    top: 1px;
}
.lemmon-wrap .prev-page i {
    left: -1px;
    position: relative;
    top: 1px;
}
.lemmon-wrap .next-page:hover, .lemmon-wrap .prev-page:hover {
    opacity: 0.5;
}
.no-js .prev-page, .no-js .next-page {
    display: none;
}
.lt-ie9 .lemmon-slider, .lt-ie9 .lemmon-slider, .lt-ie9 .lemmon-slider img {
    height: 300px;
}
.lemmon-slider, .lemmon-slider img {
    height: 125px;
}
.lemmon-slider li div.summary, .lemmon-slider li:hover div.summary {
    display: none;
}
.lemmon-slider, .lemmon-slider img {
    height: 175px;
}
.lemmon-slider li div, .lemmon-slider li:hover div {
    display: none !important;
}
.lemmon-slider, .lemmon-slider img {
    height: 250px;
}
.lemmon-slider li div p, .lemmon-slider li:hover div p {
    display: none;
}
.lemmon-slider li p, .lemmon-slider li:hover p {
    display: block;
}
.lemmon-slider, .lemmon-slider img {
    height: 300px;
}
.lemmon-slider li p, .lemmon-slider li:hover p {
    display: block;
}
.lemmon-slider, .lemmon-slider img {
    height: 350px;
}
.lemmon-wrap {
    margin: 0 0 3%;
}
:root .lemmon-wrap {
}
.lemmon-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 2500px;
}
