.thumb-gallery * {
    transition: all 0.6s ease 0s;
}
.thumb-gallery {
    left: -1%;
    margin-bottom: 2%;
    position: relative;
}
.thumb-gallery ul {
    list-style: none outside none;
    margin: 4px 0 0;
    padding: 0;
    position: relative;
    width: 102%;
}
.thumb-gallery.three-columns ul li {
    width: 31.3333%;
}
.thumb-gallery.four-columns ul li {
    width: 23%;
}
.thumb-gallery.two-columns ul li {
    width: 47.5%;
}
.thumb-gallery ul li {
    border-radius: 3px 3px 3px 3px;
    float: left;
    margin: 0 1% 15px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
}
.thumb-gallery .innershadow {
    border-radius: 3px 3px 3px 3px;
    float: left;
    max-width: 100%;
    position: relative;
}
.thumb-gallery .innershadow:before {
    border-radius: 3px 3px 3px 3px;
    bottom: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3) inset;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}
.thumb-gallery ul li h4 {
    margin: 0 0 5px;
    padding: 0 0 5px;
}
.thumb-gallery ul li p {
    font-size: 11px;
    margin: 0;
}
.thumb-gallery a, .thumb-gallery a h4 {
    color: #FFFFFF !important;
    text-decoration: none;
}
.thumb-gallery div {
    background: url("../images/50p.png") repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    left: 0;
    opacity: 0;
    padding: 15px 0;
    position: absolute;
    right: 0;
    top: -500px;
    width: 100%;
    z-index: 100;
}
.thumb-gallery li:hover div {
    display: block;
    left: 0;
    opacity: 1;
    right: 0;
    top: 0;
}
.thumb-gallery img {
    float: left;
    margin: 0;
}
.lt-ie9 .thumb-gallery div {
    display: none;
    top: 0;
}
.lt-ie9 .thumb-gallery li:hover div {
    display: block;
}
.thumb-gallery.three-columns ul li {
    width: 31.3333%;
}
.thumb-gallery .icon-hover div {
    border-radius: 3px 3px 3px 3px;
    bottom: 0;
    height: 100%;
    left: -100%;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.thumb-gallery .icon-hover li:hover div {
    display: block;
    left: 0;
    opacity: 1;
    right: 0;
    top: 0;
}
.thumb-gallery .icon-hover div span {
    display: block;
    left: 0;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.thumb-gallery .icon-hover li i {
    font-size: 150%;
}
.thumb-gallery .icon-hover a:hover {
    color: #999999 !important;
}
.span9 .thumb-gallery.three-columns ul li {
    width: 47.75%;
}
.span8 .thumb-gallery.three-columns ul li {
    width: 47.75%;
}
.thumb-gallery ul {
    width: 100%;
}
.thumb-gallery ul li {
    margin: 0 0 15px;
    width: 96% !important;
}
.thumb-gallery .innershadow {
    float: none;
    max-width: none;
}
.thumb-gallery .innershadow:before {
    display: none;
}
.thumb-gallery {
    left: -1%;
    margin-bottom: 2%;
    position: relative;
}
.thumb-gallery ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 102%;
}
.thumb-gallery ul li {
    float: left;
    margin: 0 1% 15px;
    position: relative;
    width: 48% !important;
}
.thumb-gallery a {
    text-decoration: none;
}
.thumb-gallery img {
    width: 100%;
}
.thumb-gallery h4, .thumb-gallery p {
    color: inherit;
    display: block;
    margin: 0;
}
.thumb-gallery ul li h4 {
    margin: 0;
    padding: 0;
}
.thumb-gallery ul li {
    float: left;
    margin: 0 1% 15px;
    position: relative;
    width: 98% !important;
}
